@model Dashboard.Models.Steam.Data.AchievementList
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="shadow card text-center rounded">
        <ul class="list-group list-group-flush">
            @foreach (var achievement in Model.Achievements)
            {
                <li class="list-group-item">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <h5 class="card-title">@achievement.Name</h5>
                        </div>
                        <div class="col-md-4">
                            <p class="card-text">@achievement.Percent %</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
