@model Dashboard.Models.Steam.NewsData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            @if (Model.Author != null)
            {
                <p class="card-text"><small class="text-muted">@Model.Author</small></p>
            }
            <p class="card-text">@Model.Contents</p>
            <div class="card-footer text-muted">
                <small class="text-muted">@Model.Date</small>
                <a href=@Model.Url class="card-link">go to the article</a>
            </div>
        </div>
    </div>