@model Dashboard.Models.Steam.AppNewsData
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card-columns">
        @foreach (var news in Model.AppNews.NewsItems)
        {
            @Html.Partial("_NewsCard", news)
        }
    </div>
