@model Dashboard.Models.Weather.WeatherData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model.Name != "")
{
    <div class="card text-center shadow rounded">
        <h5 class="card-title">@Model.Name</h5>
        <div class="card-body">
            @foreach (var weather in Model.Weather)
            {
                <p class="card-text">@weather.Main</p>
            }
            <p class="card-text">@Model.Main.Temp °C</p>
        </div>
    </div>
}