@model DataTest
@{
    ViewData["Title"] = "Home Page";
}
    <div class="card-columns" id="refreshme">
        @Html.Partial("_Data", Model)
    </div>
    <script type="text/javascript">
        function refresh() {
            $.get('/home/data', function(result) {
                $('#refreshme').html(result);
            });
        }
        setInterval(refresh, 3000)
    </script>