@model Dashboard.Models.Steam.AppNewsData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model != null && Model.AppNews != null)
{
        <div class="card-body">
            <ul class="list-group list-group-flush">
                @foreach (var news in Model.AppNews.NewsItems)
                {
                    <li class="list-group-item">
                        <h5 class="card-title">@news.Title</h5>
                        @if (news.Author != null)
                        {
                            <p class="card-text"><small class="text-muted">@news.Author</small></p>
                        }
                        <div class="card-body">
                            @Html.Raw(news.Contents.Replace("\\", "")))
                        </div>
                        <div class="card-footer text-muted">
                            <small class="text-muted">@news.Date</small>
                            <a href=@news.Url class="card-link">go to the article</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
}